.main{
	position: relative;
    width: 80%;
    margin:0 10% 0 10%;
    height: 1226px;
}
.content{
    width: 100%;
    height: 87%;
    overflow: hidden;
    zoom:1;
}
.content-left{
    width: 75%;
    height: 100%;
    float: left;
    border-right: 1px solid #E8ECF3;
}

.reasult-head{
    position: relative;
    width: 100%;
    height: 10%;
    /*padding:5%;*/
    background: #f6f6f6;
    /*padding-top: 20px;*/

}

.reasult-head h2{
    position: absolute;
    left: 4%;
    top: 3%;
    width: 10%;
    height: 30%;
   /*float: left;*/
    font-size: 1.9em;
    /*box-shadow: 2px 2px 2px #000;*/
    color: rgb(26,102,126);
    font-weight: 700;
    margin: 21px;
}

.main form {
    /*background: #e3f3fc;*/
    /*padding: 16.4% 16.4% 16.4% 36.4%;*/
    position: absolute;
    left:20%;
    top: 20%;
    width: 80%;
    height: 75%;


}
.search-assort{
    position: relative;
    width: 100%;
    height:32px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    
}
.search-assort span a{
    width: 20%;
    position: relative;
    height: 100%;
    color: rgb(26,102,126);
    padding-right: 5px;
    border-right: 2px solid #E8ECF3;
    top: 30%;
}
.search-assort b{
    width: 20%;
    position: relative;
    height: 100%;
    color: rgb(26,102,126);
    padding-right: 5px;
   top: 30%;
    padding: 5px 50% 5px 2%;
}
#search-form #keyword {
    height: 2.5em;
    padding: 5px;
    width: 70%;
    border-radius: 0px;
}
#search-form #btnSearch{
    width: 10%;
    height: 2.5em;
    padding: 5px;
     opacity: 0.9; 
     border-radius: 5px;
     background: rgba(95,144,128,0.8);
border-color:rgba(95,144,128,1);
}
#search-form #btnSearch:hover{
     opacity: 1; 
}
#search-form .form-lable {
    position: relative;
    left: 24%;
    width: 50%;
    height: 5%;
    padding-top: 16px;
}
.ser-reasult{
    width: 99%;
    height: 152px;
    border-bottom: 2px solid #E8ECF3;
    padding:0 0 0 20px;
    overflow: hidden;
    zoom:1;
}

.ser-reasult:hover{
    background: #E8ECF3;
}
.ser-reasult h2{
    margin: 0px;
}
.ser-reasult h2 a{
    font-size: 18px;
    color: rgb(26,102,126);


}
.ser-reasult h2 span{
    color: #697989;
    font-size: 14px;
}
.ser-rea-img{
    width: 20%;
    height: 100px;
    float: left;
}
.ser-rea-img img{
     width: 100%;
     height: 100%;
     margin: 10px 0 0 0;
}
.ser-rea-content{
    float: left;
    margin: 10px 0 0 10px;
    width: 75%;
}
.content-right{
    width: 25%;
    height: 100%;
    float: left;
    padding-left: 5px;
}

.latest-ser p{
    width: 35%;
    font-size: 18px;
    color: #000;
    text-align: left;
    border-bottom: 1px solid #E8ECF3;
  margin:20px 0 0 20px;
  padding-bottom: 5px;
}
.latest-ser ul{
    margin: 10px 0 0 5px;
    padding: 0;

}
.latest-ser ul li span{
    /*color: #000;*/
    padding: 0 25px 0 10px;
    width: 10%;
    float: left;
}
.latest-ser ul li a{
    color: rgb(26,102,126);
    width: 80%;
    padding-bottom: 10px;
}
.latest-ser ul li{
    padding-bottom: 10px;
}
.top1{
    color: red;
}


.top2{
    color: yellow;
}
.top3{
    color: blue;
}
.aro-news-list{
    width: 100%;
    height: 500px;
}
.aro-news-list h2{
    font-size: 18px;
    color: #000;
    margin: 10px 10px 10px 15px;
    padding-bottom: 5px;
    width: 29%;
    border-bottom: 1px solid #E8ECF3;
}
.aro-news-head{
    width: 100%;
    color: rgb(26,102,126);
    font-size: 16px;
    padding-left: 6px;
}
.aro-news-tim span:first-child{
    padding-left: 8px;
}
.aro-news-tim span{
    padding-left: 65px;
    font-size: 12px;
    color: #697989;
}
.aro-news-tim{
    border-bottom: 1px solid #E8ECF3;
}

.angled-135 {
    background-color: #DADADA;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
                            color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
                            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
                            color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
                            to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
}
.stripes-left {
    height: 1226px;
    /*width: 375px;*/
    /*float: left;*/
    left: -13%;
    /*margin: 10px;*/
    width:13%;
       position: absolute;
    -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px; /* 控制条纹的大小 */
    
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 0px 0px 0px gray;
 
}
.stripes-right{

    height: 1226px;
    /*width: 375px;*/
    /*float: left;*/
    right: -13%;
    /*margin: 10px;*/
    width:13%;
     position: absolute;
    -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px; /* 控制条纹的大小 */
    
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
   box-shadow: 0px 0px 0px gray;
   
}